<div class="footer">
    <div class="container">
        <div class="footer-layout">            
            <div class="nav-links">
                <a href="">{{'footer.home' | translate }}</a>
                <a href="">{{'footer.company' | translate }}</a>
                <a href="">{{'footer.portpolio' | translate }}</a>
                <a href="">{{'footer.blog' | translate }}</a>
            </div>
            <div class="copy-right">
                @2023<span>DotSolved</span> made with love for the better web.
            </div>
        </div>
    </div>
</div>